.medal img {
    width: 70%;
    height: auto;
    align-items: center;
}

.medal img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.2s ease-in-out;
    filter: brightness(0) invert(1);
}