.medal img {
  width: 100%;
  height: auto;
  align-items: center;
  filter: brightness(0) saturate(100%) invert(82%) sepia(44%) saturate(359%)
    hue-rotate(2deg) brightness(88%) contrast(91%);
}

.medal img:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.2s ease-in-out;
  filter: brightness(0) invert(1);
}
