/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #fdfffa;
}
.dropdown{
    width: 400px;
    height: 55px;
    position: relative;
}
.dropdown .dropdown-btn{
    width: 252px;
    height: 77px;
    flex-shrink: 0;
    display: flex;
    height: 55px;
    background: #fff;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-left: 10px;
    margin-top: 15px;
}

.dropdown .dropdown-content{
    width: 252px;
    height: 150px;
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    text-align: left;
    margin-left: 10px;
    margin-top: 15px;
    overflow-y: scroll;
}
.dropdown .dropdown-content .dropdown-item{
    padding: 10px;
    cursor:  pointer;
    transition: all 0.2s;

}
.dropdown .dropdown-content .dropdown-item:hover{
    background: #d4d3d3;}

