
.detail table {
    border-collapse: collapse;
    table-layout: fixed;
    background: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}




.detail th, td {
    border: 1px solid white;
    padding: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.detail th, td {
    width: 20%;
}

.detail th {
    background: #D6C278;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.detail tr td:nth-child(even) {
    background-color: #d6c27852;
    color:black;
}
  
.detail tr td:nth-child(odd) {
    background-color: #d6c27893;
    color:black;
    &:first-child {
        background-color: #d6c27852;
    }
}

.detail td {
    text-align: center;
}

.detail td:first-child {
    text-align: center;
    font-size: 18px;
}