*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .sec2{
    width: 90rem;
    height: 64rem;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sec1{
    width: 650px;
    height: 944px;
    padding: 20px;
    box-shadow: 5px 5px 4px #e4e4e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
  
  .photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e4e4e4;
  }
  
  .photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .img_sec2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 944px;
    background-color: #D6C278;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h3, p{
    margin-top: 5px;
  }

  .topic_login {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* font-family: Paris2024-Variable; */
    font-size: 4rem;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
    margin-bottom: 100px;
  }

  .topics {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* font-family: Paris2024-Variable; */
    font-size: 4rem;
    font-style: normal;
    font-weight: 760;
    line-height: normal;
  }

  .btn-login {
    width: 22rem;
    height: 4rem;
    border-radius: 1.25rem;
    border: 1px solid #FFF;
    background: #D6C278;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .parah {
    width: 23.75rem;
    height: 1.375rem;
    color: #000;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .img_olympic_logo {
    padding: auto;
    margin-bottom: 50px;
  }